@model WebApi.Models.User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <br/>
    <h2>Mi perfil</h2>

    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                         class="rounded-circle img-fluid" style="width: 150px;">
                    <h5 class="my-3">@Model.Name</h5>
                    <p class="text-muted mb-4">@Model.Email</p>
                    <div class="d-flex justify-content-center mb-2">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Nombre</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">@Model.Name</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Nombre de usuario</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">@Model.Username</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Email</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">@Model.Email</p>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">ID de Rol</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">@Model.RoleId</p>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">ID del Jefe</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">@Model.BossId</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            <button id="AbrirModalCambiarPassword" class="btn btn-primary" style="background-color: #1A2DF3; width:20%">Cambiar Contraseña</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="ModalCambiarPassword" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Cambiar Contraseña</h4>
                </div>
                <br/>
                <div style ="width: 80%; margin-left: 10%" class="modal-body">
                    <div style="margin-top: 3%">
                        <label for="exampleInputEmail1">Contraseña Actual:</label>
                        <input class="form-control" id="InputPasswordActual" type="password">
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div style="margin-top: 3%">
                        <label for="exampleInputEmail1">Nueva Contraseña:</label>
                        <input class="form-control" id="InputNuevoPassword" type="password">
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div style="margin-top: 3%">
                        <label for="exampleInputEmail1">Confirmar Nueva Contraseña:</label>
                        <input class="form-control" id="InputConfirmarPassword" type="password">
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <br/>
                </div>
                <br/>
                <div class="modal-footer">
                    <button id="btnCerrarCambiarPassword" type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button id="btnCambiarPassword" type="button" class="btn btn-primary" style="background-color: #1A2DF3">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    
    <div id="modalVentanaExitosa" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <br />
                <div style="width: 80%; margin-left: 10%" class="modal-body">
                    <p>Acción realizada exitosamente</p>
                </div>
                <br />
                <div class="modal-footer">
                    <button id='btnMensajeExitoso' type="button" class="btn btn-primary" style="background-color: #1A2DF3">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    
    <div id="modalVentanaFallida" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <br />
                <div style="width: 80%; margin-left: 10%" class="modal-body">
                    <p>No se pudo realizar la acción</p>
                </div>
                <br />
                <div class="modal-footer">
                    <button id='btnMensajeFallido' type="button" class="btn btn-primary" style="background-color: #1A2DF3">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="~/js/Perfil.js"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>